{% extends 'core/base/base.html' %}
{% load static %}
{% block contents %}
    
            <div class="inner-banner section-bg overflow-hidden">
            <div class="container">
                <div class="inner__banner__content text-center">
                    <h2 class="title">About Us</h2>
                    <ul class="breadcums d-flex flex-wrap justify-content-center">
                        <li><a href="index.htm">Home</a>//</li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
            <div class="shapes">
                <img src="{% static 'modules/uss-dashboard/GUI/assets/images/devices_846x665.png' %}" alt="banner" class="shape shape1">
                <img src="{% static 'modules/uss-dashboard/GUI/assets/images/devices_846x665.png' %}" alt="banner" class="shape shape2 d-none d-lg-block">
            </div>
        </div>
    
        <!-- Feature Two Section Starts Here -->
<section class="feature-section padding-bottom mt-5">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4">
                <div class="section__header m-0">
                    <h2 class="section__header-title">Start Your Forex Journey</h2>
                    <span class="d-block">At Access Forex Concierge, we provide you with the tools and expertise to navigate the forex market effectively and optimize your trading strategies, ensuring you make informed decisions every step of the way.</span>
                    <a href="dashboard/register.html" class="cmn--btn mt-4">Get Started</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row gy-sm-5 gy-4 gx-xl-5 h-100 justify-content-between">
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <div class="feature__item__two style--two">
                            <div class="feature__item__two-thumb">
                                <i class="bi bi-currency-exchange"></i>
                            </div>
                            <div class="feature__item__two-content">
                                <h3 class="title mb-2">Maximize Your Returns</h3>
                                <p>Our strategies are designed to help you achieve optimal returns on your forex investments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <div class="feature__item__two style--two">
                            <div class="feature__item__two-thumb">
                                <i class="bi bi-headset"></i>
                            </div>
                            <div class="feature__item__two-content">
                                <h3 class="title mb-2">24/7 Expert Support</h3>
                                <p>Our dedicated team is available around the clock to assist you with all your trading and recovery needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <div class="feature__item__two style--two">
                            <div class="feature__item__two-thumb">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                            <div class="feature__item__two-content">
                                <h3 class="title mb-2">Robust Security</h3>
                                <p>Your investments are safeguarded with our advanced security protocols, ensuring peace of mind.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <div class="feature__item__two style--two">
                            <div class="feature__item__two-thumb">
                                <i class="bi bi-check-circle"></i>
                            </div>
                            <div class="feature__item__two-content">
                                <h3 class="title mb-2">Trust and Reliability</h3>
                                <p>We pride ourselves on our integrity and commitment to delivering consistent results for our clients.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Two Section Ends Here -->
    
    <!-- Investor Section Starts Here -->
    <section class="investor-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section__header text-center">
                        <h2 class="section__header-title">Our Best Investor</h2>
                        <p>Here are some of our top investor who has made it big over the years on our platform.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center gy-5">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{% static 'modules/alpha-shares/template/public/assets/images/investor/investor1.png' %}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Robart Williams</h3>
                            <p class="invest-amount"> 7,250,000 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{% static 'modules/alpha-shares/template/public/assets/images/investor/investor22.jpg' %}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Dan John</h3>
                            <p class="invest-amount"> 5,235,550 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{% static 'modules/alpha-shares/template/public/assets/images/investor/investor3.png' %}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Sam Benneth </h3>
                            <p class="invest-amount"> 4,450,000 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{% static 'modules/alpha-shares/template/public/assets/images/investor/investor44.jpg' %}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Jenny kelven</h3>
                            <p class="invest-amount"> 2,550,552 USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Investor Section Ends Here -->
<!-- Faq Section Starts Here -->
<section class="faq-section padding-bottom overflow-hidden ">
    <div class="container mt-5 pt-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="section__header mb-0">
                    <h2 class="section__header-title">Frequently Asked Questions</h2>
                    <div class="faq__wrapper">
                        <div class="faq__item style--two">
                            <div class="faq__item-title">
                                <h4 class="title">What is Access Forex Concierge?</h4>
                            </div>
                            <div class="faq__item-content">
                                <p>Access Forex Concierge is a premier service that provides expert guidance in forex trading and asset recovery, helping clients navigate the complexities of the financial markets.</p>
                            </div>
                        </div>
                        <div class="faq__item style--two">
                            <div class="faq__item-title">
                                <h4 class="title">How can I start trading forex?</h4>
                            </div>
                            <div class="faq__item-content">
                                <p>To start trading forex, you need to open a trading account with a reputable broker, fund your account, and develop a trading strategy. Our team can assist you in this process.</p>
                            </div>
                        </div>
                        <div class="faq__item style--two open active">
                            <div class="faq__item-title">
                                <h4 class="title">What is asset recovery and how can you help?</h4>
                            </div>
                            <div class="faq__item-content">
                                <p>Asset recovery involves reclaiming lost or stolen assets. Our experts specialize in identifying and recovering funds that may have been lost due to fraud or mismanagement in forex trading.</p>
                            </div>
                        </div>
                        <div class="faq__item style--two">
                            <div class="faq__item-title">
                                <h4 class="title">What resources do you provide for forex traders?</h4>
                            </div>
                            <div class="faq__item-content">
                                <p>We offer a range of resources including market analysis, trading signals, educational materials, and personalized support to help traders make informed decisions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <div class="section__thumb ">
                    <img src="{% static 'modules/alpha-shares/template/public/assets/images/faq/thumb.png' %}" alt="download">
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Faq Section Ends Here -->

    {% endblock contents %}