{% extends 'core/base/base.html' %}
{% load static %}
{% block contents %}
    
            <div class="inner-banner section-bg overflow-hidden">
            <div class="container">
                <div class="inner__banner__content text-center">
                    <h2 class="title">Our plan</h2>
                    <ul class="breadcums d-flex flex-wrap justify-content-center">
                        <li><a href="index.htm">Home</a>//</li>
                        <li>Plan</li>
                    </ul>
                </div>
            </div>
            <div class="shapes">
                <img src="{% static 'modules/uss-dashboard/GUI/assets/images/devices_846x665.png' %}" alt="banner" class="shape shape1">
                <img src="{% static 'modules/uss-dashboard/GUI/assets/images/devices_846x665.png' %}" alt="banner" class="shape shape2 d-none d-lg-block">
          
            </div>
        </div>
    
    
    <!-- Plan Section Starts Here -->
    
    <!-- Plan Section Ends Here -->


    <!-- Referral Section Starts Here -->
    
    <!-- Referral Section Ends Here -->


    <!-- Plan Section Starts Here -->
    <section class="plan-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section__header text-center">
                    <h2 class="section__header-title">Our Investment Plan</h2>
                    <p>Depending on our investment analysis we keep updating our investment plans when necessary, to provide you with more option to invest with us </p>
                </div>
            </div>
        </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">5%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">100 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30,000 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> DAILY</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">69%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">100 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">3,000 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 8 HOURS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">120%</h2>
                            <p class="plan-parcent-info">WEEKLY</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">150 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">10,000 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 3 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">200%</h2>
                            <p class="plan-parcent-info">After 6 MONTHS</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">100 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30,000 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 6 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">5%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">1,500 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">50,000 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">69%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">100 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">10,000 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 8 HOURS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">120%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">100 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">10,000 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 3 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">200%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">200 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">20,000 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 6 Months</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Plan Section Ends Here -->

<!-- Profit Calculation Section Starts Here -->
<section class="profit-calculation padding-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="section__thumb profit__calculation__thumb rtl me-5">
                    <img src="{% static 'modules/alpha-shares/template/public/assets/images/calculate-profit/thumb1.png' %}" alt="profit-calculation">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="profit__calculation__content">
                    <div class="section__header">
                        <h2 class="section__header-title">Calculate Your Forex Investment Profit</h2>
                        <p>Use our calculator to estimate your potential profits based on your investment plan and compounding rate.</p>
                    </div>
                    <form class="profit__calculation__form" id="profitCalcForm">
                        <div class="row g-4">
                            <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Investment Plan</label>
                                    <select class="nice-select w-100 h-50" id="investmentPlan">
                                        <option value="0">Select Plan</option>
                                        <option value="1.05">Silver Plan (5% Return)</option>
                                        <option value="1.10">Gold Plan (10% Return)</option>
                                        <option value="1.15">Platinum Plan (15% Return)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Compounding Rate</label>
                                    <select class="nice-select w-100 h-50" id="compoundingRate">
                                        <option value="0">Select Compounding Rate</option>
                                        <option value="1.05">5%</option>
                                        <option value="1.15">15%</option>
                                        <option value="1.20">20%</option>
                                        <option value="1.25">25%</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Initial Investment</label>
                                    <input type="number" class="form-control form--control" id="initialInvestment" placeholder="$60,000" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Estimated Total Returns</label>
                                    <input type="text" class="form-control form--control" id="totalReturns" placeholder="$800,000" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="button" class="cmn--btn mt-4" onclick="calculateProfit()">Calculate Profit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Profit Calculation Section Ends Here -->

<script>
    function calculateProfit() {
        const investmentPlan = parseFloat(document.getElementById('investmentPlan').value);
        const compoundingRate = parseFloat(document.getElementById('compoundingRate').value);
        const initialInvestment = parseFloat(document.getElementById('initialInvestment').value);

        if (investmentPlan > 0 && compoundingRate > 0 && initialInvestment > 0) {
            // Calculate total returns
            const totalReturns = initialInvestment * investmentPlan * compoundingRate;
            document.getElementById('totalReturns').value = `$${totalReturns.toFixed(2)}`;
        } else {
            alert("Please select a valid plan, compounding rate, and enter an initial investment.");
        }
    }
</script>
    <!-- Faq Section Starts Here -->
    
    <!-- Faq Section Ends Here -->

    
    {% endblock contents %}